<div class="main-w3layouts wrapper">
  <h1>Zarejestruj się</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="#" method="post">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <input class="text" type="text" name="Username" placeholder="Username" required="">
              <input class="text email" type="email" name="email" placeholder="Email" required="">
              <input class="text" type="password" name="password" placeholder="Password" required="">
              <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
              <input class="text" type="text" name="mobile" placeholder="Mobile" required="">
              <input class="text email" type="email" name="street" placeholder="Street" required="">
              <input class="text" type="password" name="city" placeholder="City" required="">
              <input class="text w3lpass" type="password" name="postCode" placeholder="Post code" required="">
            </div>
          </div>
        </div>


        <div class="wthree-text">
          <label class="anim">
            <input id="checkbox" type="checkbox" class="checkbox" required="" (click)="acceptRegulations()">
            <span>Akceptuje warunki zawarte w Regulaminie</span>
          </label>
          <p><a href="/regulations">Regulamin</a></p>

          <div class="clear"></div>
        </div>
        <div *ngIf="isAccpeted">
          <input type="submit" value="SIGNUP"/>
        </div>
        <div *ngIf="!isAccpeted">
          <br>
          <p>Proszę zaakcpetować regulamin!</p>
          <br>
        </div>
      </form>
      <p>Masz konto?<a href="/login"> Zaloguj się!</a></p>
    </div>
  </div>

  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

